body {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
}

.button {
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    background-size: 300%;
    transition: 0.8s;
    border: 1px solid white;
    background-image: linear-gradient(to left, #00B7DA, #161569, #00B7DA);
  }
.button:hover, img:hover {
    background-position: right;
  }
.title {
    font-size: 48px;
    color: white;
    text-shadow: 2px 2px black;
    font-weight: bolder;
}