<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autores y Créditos</title>

    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/web.css">
	<link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
</head>
<body>
    <header class="header-fixed">

        <div class="header-limiter">

            <h1><a href="../../../index.html"><span>Folklore</span><span id="white">Hunters</span></a></h1>

            <nav>
                <a href="../../../index.html">Game</a>
                <a href="Instructions.html">Controls</a>
                <a href="Description.html">Description</a>
                <a href="#" class="selected">About us</a>
                <a href="https://github.com/castrodaniel18/DVI">GitHub</a>
            </nav>

        </div>

    </header>

    <!-- You need this element to prevent the content of the page from jumping up -->
    <div class="header-fixed-placeholder"></div>

    <div class="general container__team container__card-primary">
            <div class="box teams card__primary">
                <div class="text_team text__card-primary">
                    <h1>AUTORES</h1>
                    <p id="enBlanco">
                    Este videojuego es un proyecto realizado para la asignatura de Desarrollo De Videojuegos mediante Tecnologías Web, de la Universidad Complutense de Madrid.
                    </p>
                </div>
                <div class="container__comercials container__box-cardPrimary">
                    <div class="card__comercial box__card-primary">
                        <div class="photo__team">
                            <img src="../../assets/web/daniel.png" alt="">
                        </div>
                        <h4 class="center-text" >Daniel Castro López</h4>
                    </div>
                    <div class="card__comercial box__card-primary">
                        <div class="photo__team">
                            <img src="../../assets/web/iulius.png" alt="">
                        </div>
                        <h4 class="center-text">Iulius Gherasim</h4>
                    </div>
                    <div class="card__comercial box__card-primary">
                        <div class="photo__team">
                            <img src="../../assets/web/rogger.png" alt="">
                        </div>
                        <h4 class="center-text">Rogger Huayllasco de la Cruz</h4>
                    </div>
                    <div class="card__comercial box__card-primary">
                        <div class="photo__team">
                            <img src="../../assets/web/miguel.png" alt="">
                        </div>
                        <h4 class="center-text">Miguel Zayas Boíza</h4>
                    </div>
                </div>
            </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../js/header.js"></script>

</body>
</html>